<br />
<div #popupSucesso class="popup-container">
  <div class="popup">
    <h2 class="popup-titulo">Enviado com Sucesso!</h2>
    <p class="popup-mensagem">Seu formulário foi enviado com sucesso.</p>
    <button class="popup-botao" (click)="fecharPopup(popupSucessoRef)">
      Fechar
    </button>
  </div>
</div>

<div #popupErro class="popup-container popup-erro">
  <div class="popup">
    <h2 class="popup-titulo">Falha no Envio</h2>
    <p class="popup-mensagem">
      Ocorreu um erro ao enviar o formulário. Tente novamente mais tarde.
    </p>
    <button class="popup-botao" (click)="fecharPopup(popupErroRef)">
      Fechar
    </button>
  </div>
</div>
<br /><br /><br /><br /><br />
<div class="container">
  <h1>Solicitação de Crédito</h1>
  <p>Preencha o formulário abaixo para solicitar um empréstimo pessoal.</p>

  <form [formGroup]="creditoForm" (ngSubmit)="createProposta()">
    <div class="row">
      <div
        style="margin-left: 20rem"
        class="loader"
        [hidden]="!carregando"
      ></div>
      <div class="col">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" formControlName="nome" required />
      </div>
      <div class="col">
        <label for="sobrenome">Sobrenome:</label>
        <input
          type="text"
          id="sobrenome"
          formControlName="sobrenome"
          required
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone" formControlName="telefone" required />
      </div>
      <div class="col">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" formControlName="cpf" required />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="renda">Renda Mensal:</label>
        <input type="number" id="renda" formControlName="renda" required />
      </div>
      <div class="col">
        <label for="valorSolicitado">Valor Solicitado:</label>
        <input
          type="number"
          id="valorSolicitado"
          formControlName="valorSolicitado"
          required
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="prazoPagamento">Prazo de Pagamento (em meses):</label>
        <select id="prazoPagamento" formControlName="prazoPagamento" required>
          <option value="6">6 meses</option>
          <option value="12">12 meses</option>
          <option value="18">18 meses</option>
          <option value="24">24 meses</option>
          <option value="36">36 meses</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="carregando">
      Solicitar
    </button>
  </form>

  <button class="btn btn-secondary" (click)="apagar()">Limpar</button>

  <br /><br /><br /><br />

  <h2>Resultados</h2>
  <br /><br />

  <table>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Valor</th>
      <th>Prazo</th>
      <th>Status</th>
      <th>Ação</th>
    </tr>
    <tr *ngFor="let proposta of proposta">
      <td>{{ proposta.nome }}</td>
      <td>{{ proposta.cpf }}</td>
      <td>R$ {{ proposta.valorSolicitado }}</td>
      <td>{{ proposta.prazoPagamento }} meses</td>
      <td>{{ proposta.observacao }} Em Análise</td>
      <td><button type="submit" class="btn-cadastrar">Cadastrar</button></td>
    </tr>
  </table>
</div>
